body {
  width: 500px;
  height: 400px;
  overflow: scroll;
  background-color: #fff;
}

#header {
  width: 100%;
  height: 31px;
  background-color: #eee;
  padding: 18px;
}

#page-controls {
  margin-right: 24px;
}

#content-pane {
  width: 100%;
  max-height: 350px;
  min-height: 350px;
  overflow-y: scroll;
}

.content-pane {
  display: none;
}

.avatar24 {
  width: 24px;
  height: 24px;
}

.avatar32 {
  width: 32px;
  height: 32px;
}

.avatar48 {
  width: 48px;
  height: 48px;
}


#content-pane-apps div {
  display: inline-block;
  width: 32%;
  text-align: center;
  color: #666;
  margin: 6px 0 6px 0;
  vertical-align: top;
}

#content-pane-apps div a img {
  padding-bottom: 6px;
}

td.header {
  background-color: #ba594c;
  font-size: 1.2em;
  font-weight: bold;
  color: #fff;
}

/* Loading Spinner */
.spinner {
  z-index: 100;
  height:32px;
  width:32px;
  margin:0px auto;
  position: absolute;
  top: 50%;
  left: 45%;
  -webkit-animation: rotation .6s infinite linear;
  -moz-animation: rotation .6s infinite linear;
  -o-animation: rotation .6s infinite linear;
  animation: rotation .6s infinite linear;
  border-left:6px solid rgba(154,123,59,.15);
  border-right:6px solid rgba(154,123,59,.15);
  border-bottom:6px solid rgba(154,123,59,.15);
  border-top:6px solid rgba(154,123,59,.8);
  border-radius:100%;
}

.spinner.blue {
  border-left:6px solid rgba(130,177,188,.15);
  border-right:6px solid rgba(130,177,188,.15);
  border-bottom:6px solid rgba(130,177,188,.15);
  border-top:6px solid rgba(130,177,188,.8);
}

.spinner.red {
  border-left:6px solid rgba(186,89,76,.15);
  border-right:6px solid rgba(186,89,76,.15);
  border-bottom:6px solid rgba(186,89,76,.15);
  border-top:6px solid rgba(186,89,76,.8);
}

@-webkit-keyframes rotation {
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(359deg);}
}

@-moz-keyframes rotation {
  from {-moz-transform: rotate(0deg);}
  to {-moz-transform: rotate(359deg);}
}

@-o-keyframes rotation {
  from {-o-transform: rotate(0deg);}
  to {-o-transform: rotate(359deg);}
}

@keyframes rotation {
  from {transform: rotate(0deg);}
  to {transform: rotate(359deg);}
}

.mR12 {
  margin-right: 12px;
}

.mT32 {
  margin-top: 32px;
}
